
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-name {
    margin-right: 1rem;
}

.burger-stretch {
    margin-top: auto;
    margin-bottom: auto;
}