source https://api.nuget.org/v3/index.json
storage: none
framework: net60

nuget Fable.FormValidation
nuget FSharp.Core
nuget Fable.Aether
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz
nuget Fable.React ~> 8.0
nuget Feliz.Router
nuget Feliz.DaisyUI
nuget Feliz.Bulma
nuget Feliz.UseElmish
nuget Feliz.UseDeferred
nuget FSharp.Control.AsyncSeq
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget Giraffe ~> 5.0
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
nuget Microsoft.Azure.Cosmos
nuget System.IdentityModel.Tokens.Jwt
nuget Thoth.Json
nuget Fable.MarkdownToJsx ~> 1.0
nuget Giraffe.GoodRead
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.AspNetCore
nuget Microsoft.Azure.AppConfiguration.AspNetCore

nuget Fake.Core.Target
nuget Fake.IO.FileSystem