source https://api.nuget.org/v3/index.json


framework: netcoreapp3.1,netstandard2.1
storage: none

nuget FSharp.Data.GraphQL.Server
nuget FSharp.Data.GraphQL.Server.Middleware
nuget Microsoft.Azure.Cosmos
nuget FSharp.Core
nuget Giraffe
nuget Fable.Remoting.Giraffe
nuget Microsoft.ApplicationInsights.AspNetCore
nuget WindowsAzure.Storage
nuget System.IdentityModel.Tokens.Jwt
nuget TaskBuilder.fs
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
nuget FSharp.Control.AsyncSeq


group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.1
    storage: none

    nuget Feliz
    nuget Fable.Core
    nuget Fable.Elmish
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React
    nuget Fable.React
    nuget Fable.Remoting.Client
    nuget Feliz.MaterialUI
    nuget Fable.MaterialUI.Icons
    nuget Feliz.UseElmish
    nuget Feliz.Router
    nuget FsToolkit.ErrorHandling.TaskResult
    nuget Fable.Aether


group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    nuget Farmer ~> 0.21
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs