source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core
nuget Fable.Aether
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz
nuget Feliz.Router
nuget Feliz.Bulma
nuget Feliz.UseElmish
nuget Feliz.UseDeferred
nuget FSharp.Control.AsyncSeq
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget Giraffe
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
nuget Microsoft.Azure.Cosmos
nuget System.IdentityModel.Tokens.Jwt
nuget Thoth.Json

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    nuget Farmer
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs